# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/

# Environment variables
.env

# DuckDB database file
running.duckdb

# OS files
.DS_Store

# html files
*.html
